@import "./reset.css";
@import "./assets/fonts/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-0: theme("colors.white");
    --neutral-2: theme("colors.grey.0");
    --neutral-5: theme("colors.grey.5");
    --neutral-10: theme("colors.grey.10");
    --neutral-20: theme("colors.grey.20");
    --neutral-30: theme("colors.grey.30");
    --neutral-40: theme("colors.grey.40");
    --neutral-50: theme("colors.grey.50");
    --neutral-60: theme("colors.grey.60");
    --neutral-70: theme("colors.grey.70");
    --neutral-80: theme("colors.grey.80");
    --neutral-90: theme("colors.grey.90");
    --neutral-100: theme("colors.grey.100");

    --accent-50: theme("colors.radical.50");
    --accent-60: theme("colors.radical.60");
    --accent-70: theme("colors.radical.70");

    --warning-50: theme("colors.orange.50");
    --warning-60: theme("colors.orange.60");
    --warning-70: theme("colors.orange.70");

    --selected-50: theme("colors.viridian.50");
    --selected-60: theme("colors.viridian.60");
    --selected-70: theme("colors.viridian.70");

    --critical-50: theme("colors.red.50");
    --critical-60: theme("colors.red.60");
    --critical-70: theme("colors.red.70");

    --positive-50: theme("colors.grass.50");
    --positive-60: theme("colors.grass.60");
    --positive-70: theme("colors.grass.70");

    --info-50: theme("colors.malibu.50");
    --info-60: theme("colors.malibu.60");
    --info-70: theme("colors.malibu.70");

    --promote-50: theme("colors.yellow.50");
    --promote-60: theme("colors.yellow.60");
    --promote-70: theme("colors.yellow.70");

    --ring: var(--selected-50);
    --link: 184, 92%, 28%;

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;
  }

  .dark {
    --neutral-0: theme("colors.white");
    --neutral-2: theme("colors.grey.0");
    --neutral-5: theme("colors.grey.5");
    --neutral-10: theme("colors.grey.10");
    --neutral-20: theme("colors.grey.20");
    --neutral-30: theme("colors.grey.30");
    --neutral-40: theme("colors.grey.40");
    --neutral-50: theme("colors.grey.50");
    --neutral-60: theme("colors.grey.60");
    --neutral-70: theme("colors.grey.70");
    --neutral-80: theme("colors.grey.80");
    --neutral-90: theme("colors.grey.90");
    --neutral-100: theme("colors.grey.100");

    --accent-50: theme("colors.radical.50");
    --accent-60: theme("colors.radical.60");
    --accent-70: theme("colors.radical.70");

    --warning-50: theme("colors.orange.50");
    --warning-60: theme("colors.orange.60");
    --warning-70: theme("colors.orange.70");

    --selected-50: theme("colors.viridian.50");
    --selected-60: theme("colors.viridian.60");
    --selected-70: theme("colors.viridian.70");

    --critical-50: theme("colors.red.50");
    --critical-60: theme("colors.red.60");
    --critical-70: theme("colors.red.70");

    --positive-50: theme("colors.grass.50");
    --positive-60: theme("colors.grass.60");
    --positive-70: theme("colors.grass.70");

    --info-50: theme("colors.malibu.50");
    --info-60: theme("colors.malibu.60");
    --info-70: theme("colors.malibu.70");

    --promote-50: theme("colors.yellow.50");
    --promote-60: theme("colors.yellow.60");
    --promote-70: theme("colors.yellow.70");

    --ring: var(--selected-50);
    --link: 184, 40%, 55%;

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;
  }
}

body {
  @apply font-sans text-base text-f1-foreground antialiased;
}
