@import "./reset.css";
@import "./assets/fonts/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-0: theme("colors.white.100");
    --neutral-2: theme("colors.grey.0");
    --neutral-5: theme("colors.grey.5");
    --neutral-10: theme("colors.grey.10");
    --neutral-20: theme("colors.grey.20");
    --neutral-30: theme("colors.grey.30");
    --neutral-40: theme("colors.grey.40");
    --neutral-50: theme("colors.grey.50");
    --neutral-60: theme("colors.grey.60");
    --neutral-70: theme("colors.grey.70");
    --neutral-80: theme("colors.grey.80");
    --neutral-90: theme("colors.grey.90");
    --neutral-100: theme("colors.grey.100");

    --neutral-solid-40: theme("colors.grey.solid.40");
    --neutral-solid-50: theme("colors.grey.solid.50");

    --white-5: theme("colors.white.5");
    --white-10: theme("colors.white.10");
    --white-20: theme("colors.white.20");
    --white-30: theme("colors.white.30");
    --white-40: theme("colors.white.40");
    --white-50: theme("colors.white.50");
    --white-60: theme("colors.white.60");
    --white-70: theme("colors.white.70");
    --white-80: theme("colors.white.80");
    --white-90: theme("colors.white.90");
    --white-100: theme("colors.white.100");

    --accent-50: theme("colors.radical.50");
    --accent-60: theme("colors.radical.60");
    --accent-70: theme("colors.radical.70");

    --warning-50: theme("colors.orange.50");
    --warning-60: theme("colors.orange.60");
    --warning-70: theme("colors.orange.70");

    --selected-50: theme("colors.viridian.50");
    --selected-60: theme("colors.viridian.60");
    --selected-70: theme("colors.viridian.70");

    --special-highlight: theme("colors.special.highlight");

    --critical-50: theme("colors.red.50");
    --critical-60: theme("colors.red.60");
    --critical-70: theme("colors.red.70");

    --positive-50: theme("colors.grass.50");
    --positive-60: theme("colors.grass.60");
    --positive-70: theme("colors.grass.70");

    --info-50: theme("colors.malibu.50");
    --info-60: theme("colors.malibu.60");
    --info-70: theme("colors.malibu.70");

    --promote-50: theme("colors.yellow.50");
    --promote-60: theme("colors.yellow.60");
    --promote-70: theme("colors.yellow.70");

    --ring: var(--selected-50);
    --link: 184, 92%, 28%;
    --page: var(--white-100);
    --shadow: theme("colors.grey.100");

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;

    --scrollbar-track: transparent;
    --scrollbar-thumb: rgba(0, 0, 0, 0.4);
    --scrollbar-thumb-hover: rgba(0, 0, 0, 0.6);
  }

  .dark {
    --neutral-0: theme("colors.grey.100");
    --neutral-2: theme("colors.grey.0");
    --neutral-5: theme("colors.white.5");
    --neutral-10: theme("colors.white.10");
    --neutral-20: theme("colors.white.20");
    --neutral-30: theme("colors.white.30");
    --neutral-40: theme("colors.white.40");
    --neutral-50: theme("colors.white.50");
    --neutral-60: theme("colors.white.60");
    --neutral-70: theme("colors.white.70");
    --neutral-80: theme("colors.white.80");
    --neutral-90: theme("colors.white.90");
    --neutral-100: theme("colors.white.100");

    --neutral-solid-40: theme("colors.white.40");
    --neutral-solid-50: theme("colors.white.50");

    --white-5: theme("colors.white.5");
    --white-10: theme("colors.white.10");
    --white-20: theme("colors.white.20");
    --white-30: theme("colors.white.30");
    --white-40: theme("colors.white.40");
    --white-50: theme("colors.white.50");
    --white-60: theme("colors.white.5");
    --white-70: theme("colors.white.70");
    --white-80: theme("colors.white.80");
    --white-90: theme("colors.white.90");
    --white-100: theme("colors.white.100");

    --accent-50: theme("colors.radical.60");
    --accent-60: theme("colors.radical.50");
    --accent-70: theme("colors.radical.50");

    --warning-50: theme("colors.orange.50");
    --warning-60: theme("colors.orange.60");
    --warning-70: theme("colors.orange.70");

    --selected-50: theme("colors.viridian.50");
    --selected-60: theme("colors.viridian.60");
    --selected-70: theme("colors.viridian.50");

    --special-highlight: theme("colors.special.highlight");

    --critical-50: theme("colors.red.60");
    --critical-60: theme("colors.red.50");
    --critical-70: theme("colors.red.50");

    --positive-50: theme("colors.grass.60");
    --positive-60: theme("colors.grass.50");
    --positive-70: theme("colors.grass.50");

    --info-50: theme("colors.malibu.60");
    --info-60: theme("colors.malibu.50");
    --info-70: theme("colors.malibu.50");

    --promote-50: theme("colors.yellow.60");
    --promote-60: theme("colors.yellow.50");
    --promote-70: theme("colors.yellow.50");

    --ring: var(--selected-50);
    --link: 184, 40%, 55%;
    --page: theme("colors.white.3");
    --shadow: theme("colors.grey.100");

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;

    --scrollbar-track: transparent;
    --scrollbar-thumb: rgba(255, 255, 255, 0.4);
    --scrollbar-thumb-hover: rgba(255, 255, 255, 0.6);
  }
}

body {
  @apply font-sans text-base text-f1-foreground antialiased;
}

.scrollbar-macos {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-macos::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-macos::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
