@import "./reset.css";
@import "./assets/fonts/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --intermediate: 234 5% 40%;
    --foreground: 230 9% 13%;

    --page-background: 240 4.8% 95.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 357 100% 96%;
    --primary-intermediate: 356 77% 75%;
    --primary-foreground: 342 100% 42%;

    --secondary: 225 14% 95%;
    --secondary-intermediate: 233 11% 86%;
    --secondary-foreground: 234 5% 40%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 10 92% 95%;
    --destructive-intermediate: 10 75% 70%;
    --destructive-foreground: 8 50% 24%;

    --positive: 124 44% 94%;
    --positive-intermediate: 131 38% 56%;
    --positive-foreground: 129 29% 18%;

    --warning: 37 100% 92%;
    --warning-intermediate: 25 80% 63%;
    --warning-foreground: 16 50% 23%;

    --info: 205 92% 95%;
    --info-intermediate: 206 82% 65%;
    --info-foreground: 216 71% 23%;

    --border: 0 0% 89.8%;
    --input: 233 11% 86%;
    --input-hover: 231 10% 75%;
    --ring: 172 42% 52%;

    --radius: 0.5rem;

    --layout: 357 100% 96%;
    --layout-intermediate: 356 77% 75%;
    --layout-foreground: 342 100% 42%;

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --intermediate: 235 8% 72%;
    --foreground: 240 6% 94%;

    --page-background: 0 0% 3.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 352 59% 15%;
    --primary-intermediate: 351 56% 48%;
    --primary-foreground: 352 100% 75%;

    --secondary: 220 4% 14%;
    --secondary-intermediate: 235 5% 39%;
    --secondary-foreground: 235 8% 72%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 5 48% 15%;
    --destructive-intermediate: 10 50% 45%;
    --destructive-foreground: 10 86% 89%;

    --positive: 161 38% 13%;
    --positive-intermediate: 131 32% 36%;
    --positive-foreground: 151 64% 54%;

    --warning: 28 65% 12%;
    --warning-intermediate: 23 60% 40%;
    --warning-foreground: 30 100% 88%;

    --info: 212 69% 16%;
    --info-intermediate: 211 65% 45%;
    --info-foreground: 205 100% 88%;

    --border: 0 0% 14.9%;
    --input: 230 5% 24%;
    --input-hover: 235 5% 39%;
    --ring: 173 62% 31%;

    --layout: 352 59% 15%;
    --layout-intermediate: 351 56% 48%;
    --layout-foreground: 352 100% 75%;

    --chart-1: 181 52% 45%;
    --chart-2: 250 80% 72%;
    --chart-3: 340 50% 57%;
    --chart-4: 239 63% 61%;
    --chart-5: 324 40% 38%;
    --chart-6: 278 47% 58%;
    --chart-7: 191 16% 47%;
    --chart-8: 202 61% 27%;
  }
}

body {
  @apply font-sans text-base text-foreground;
}
