.FactorialOneTextEditor {
  @apply leading-6;
}

.FactorialOneTextEditor .TextEditorTheme__ltr {
  @apply text-left;
}

.FactorialOneTextEditor .TextEditorTheme__rtl {
  @apply text-right;
}

.FactorialOneTextEditor .TextEditorTheme__paragraph {
  @apply relative m-0 mb-2;
}

.FactorialOneTextEditor .TextEditorTheme__paragraph:last-child {
  @apply mb-0;
}

.FactorialOneTextEditor .TextEditorTheme__quote {
  @apply m-0 mb-2.5 ml-5 border-b-4 pl-4;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
}

.FactorialOneTextEditor .TextEditorTheme__h1 {
  @apply m-0 mb-3 p-0 text-lg font-semibold;
}

.FactorialOneTextEditor .TextEditorTheme__h2 {
  @apply m-0 mt-2.5 p-0 text-lg font-medium;
}

.FactorialOneTextEditor .TextEditorTheme__h3 {
  @apply m-0 mt-2.5 p-0 text-base font-semibold;
}

.FactorialOneTextEditor .TextEditorTheme__textBold {
  @apply font-semibold;
}

.FactorialOneTextEditor .TextEditorTheme__textItalic {
  @apply italic;
}

.FactorialOneTextEditor .TextEditorTheme__textUnderline {
  @apply underline;
}

.FactorialOneTextEditor .TextEditorTheme__textStrikethrough {
  @apply line-through;
}

.FactorialOneTextEditor .TextEditorTheme__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.FactorialOneTextEditor .TextEditorTheme__textSubscript {
  vertical-align: sub !important;
}

.FactorialOneTextEditor .TextEditorTheme__textSuperscript {
  vertical-align: super;
}

.FactorialOneTextEditor .TextEditorTheme__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.FactorialOneTextEditor .TextEditorTheme__hashtag {
  @apply rounded-xs bg-f1-background-info px-0.5 py-0.5 font-medium text-f1-foreground-info no-underline;
}

.FactorialOneTextEditor .TextEditorTheme__link {
  @apply font-medium text-f1-foreground underline;
}

.FactorialOneTextEditor .TextEditorTheme__link:hover {
  @apply underline;
}

.FactorialOneTextEditor .TextEditorTheme__code {
  @apply mx-0 my-2 p-2 pl-10;
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  line-height: 1.53;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.FactorialOneTextEditor .TextEditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.FactorialOneTextEditor .TextEditorTheme__code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.FactorialOneTextEditor .TextEditorTheme__characterLimit {
  display: inline;
  background-color: #ffbbbb !important;
}

.FactorialOneTextEditor .TextEditorTheme__ol1 {
  @apply m-0 ml-4 p-0;
}

.FactorialOneTextEditor .TextEditorTheme__ol2 {
  @apply m-0 ml-4 p-0;
  list-style-type: upper-alpha;
}

.FactorialOneTextEditor .TextEditorTheme__ol3 {
  @apply m-0 ml-4 p-0;
  list-style-type: lower-alpha;
}

.FactorialOneTextEditor .TextEditorTheme__ol4 {
  @apply m-0 ml-4 p-0;
  list-style-type: upper-roman;
}

.FactorialOneTextEditor .TextEditorTheme__ol5 {
  @apply m-0 ml-4 p-0;
  list-style-type: lower-roman;
}

.FactorialOneTextEditor .TextEditorTheme__ul {
  @apply m-0 ml-4 p-0;
  list-style: disc;
}

.FactorialOneTextEditor .TextEditorTheme__tokenComment {
  color: slategray;
}

.FactorialOneTextEditor .TextEditorTheme__tokenPunctuation {
  color: #999;
}

.FactorialOneTextEditor .TextEditorTheme__tokenProperty {
  color: #905;
}

.FactorialOneTextEditor.TextEditorTheme__tokenSelector {
  color: #690;
}

.FactorialOneTextEditor .TextEditorTheme__tokenOperator {
  color: #9a6e3a;
}

.FactorialOneTextEditor .TextEditorTheme__tokenAttr {
  color: #07a;
}

.FactorialOneTextEditor .TextEditorTheme__tokenVariable {
  color: #e90;
}

.FactorialOneTextEditor .TextEditorTheme__tokenFunction {
  color: #dd4a68;
}

.FactorialOneTextEditor .TextEditorTheme__mark {
  @apply p-0.5;
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
}

.FactorialOneTextEditor .TextEditorTheme__markOverlap {
  @apply p-0.5;
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}

.FactorialOneTextEditor .TextEditorTheme__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}

.FactorialOneTextEditor .TextEditorTheme__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}

.FactorialOneTextEditor .mention a,
.FactorialOneTextEditor .mentioned a {
  @apply rounded-xs bg-f1-background-accent px-1.5 py-0.5 font-medium text-f1-foreground-accent no-underline;
}

.FactorialOneTextEditor .mention:focus a,
.FactorialOneTextEditor .mentioned:focus a {
  @apply outline outline-1 outline-offset-1 outline-f1-border-selected-bold;
}

.FactorialOneTextEditor .link_mentioned {
  text-decoration: none;
}
