/* Main styles */
.mention {
  text-decoration: none !important;
  font-weight: 600 !important;
  color: #056e76 !important;
  font-size: 14px !important;
}

.magicBackground {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    95.27deg,
    rgba(249, 240, 221, 0.5) 3.62%,
    rgba(242, 223, 227, 0.5) 48.88%,
    rgba(212, 204, 253, 0.5) 106.49%
  );
}

.preserved-selection {
  background-color: #07a2ad33 !important;
}

.ProseMirror::selection {
  background-color: transparent !important;
  color: inherit;
}

.magicBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #f5d0d8 0deg,
    #b696ff 360deg
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  mask-composite: destination-out;
  pointer-events: none;
}

.magicColor {
  color: #6143a7 !important;
}
.magicColor svg {
  color: #6143a7 !important;
}

/*********
  tiptap styles
  **********/

.ProseMirror p {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5%;
  color: #0d1625;
}

.ProseMirror p:last-child {
  margin-bottom: 0;
}

.ProseMirror h1 {
  font-size: 26px;
  color: #0d1625;
  font-weight: 500;
  letter-spacing: -1%;
  line-height: 32px;
}

.ProseMirror h2 {
  font-size: 22px;
  color: #0d1625;
  font-weight: 500;
  letter-spacing: -1%;
  line-height: 28px;
}

.ProseMirror h3 {
  font-size: 16px;
  color: #0d1625;
  font-weight: 500;
  letter-spacing: -1%;
  line-height: 24px;
}

.ProseMirror a {
  color: #056e76;
  text-decoration: underline;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror u {
  text-decoration: underline;
}

.ProseMirror s {
  text-decoration: line-through;
}

.ProseMirror ul,
.ProseMirror ol {
  margin-left: 16px;
  margin-bottom: 8px;
}

.ProseMirror ul li {
  color: black !important;
  list-style-type: disc !important;
}

.ProseMirror ol li {
  color: black !important;
  list-style-type: decimal !important;
}

.ProseMirror li {
  margin-bottom: 4px;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.ProseMirror ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}

.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.ProseMirror ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.ProseMirror ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.ProseMirror pre {
  background-color: #051f510a;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}

.ProseMirror code {
  border-radius: 4px;
  font-family: "Andale Mono";
  font-size: 12px;
}

.ProseMirror blockquote {
  margin-bottom: 8px;
  border-left-color: #0f2e571a;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 12px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
}

.ProseMirror hr {
  border: none;
  border-top: 1px solid #05234824;
  margin: 10px 0;
}

.ProseMirror mark {
  background-color: #f5a51c4d;
  padding: 2px 4px;
  border-radius: 4px;
}

.ProseMirror p:empty::before {
  content: "\00a0";
}
