/* Main styles */
.mention {
  @apply rounded-xs bg-f1-background-accent px-1.5 py-0.5 font-medium;
}

.mention:focus {
  @apply outline outline-1 outline-offset-1 outline-f1-border-selected-bold;
}

.preserved-selection {
  background-color: #07a2ad33 !important;
}

/* Make all selections transparent */
.rich-text-editor-container *::selection {
  background-color: transparent !important;
}

.rich-text-editor-container::selection {
  background-color: transparent !important;
}

/*********
  tiptap styles
  **********/

.ProseMirror p,
.rich-text-display-container p {
  @apply relative m-0 mb-2;
}

.ProseMirror p:last-child,
.rich-text-display-container p:last-child {
  margin-bottom: 0;
}

.ProseMirror h1,
.rich-text-display-container h1 {
  @apply m-0 mb-3 p-0 text-3xl font-semibold;
}

.ProseMirror h2,
.rich-text-display-container h2 {
  @apply m-0 mt-2.5 p-0 text-2xl font-medium;
}

.ProseMirror h3,
.rich-text-display-container h3 {
  @apply m-0 mt-2.5 p-0 text-lg font-medium;
}

.ProseMirror a,
.rich-text-display-container a {
  @apply font-medium text-f1-foreground-accent no-underline;
}

.ProseMirror strong,
.rich-text-display-container strong {
  @apply font-semibold;
}

.ProseMirror em,
.rich-text-display-container em {
  @apply italic;
}

.ProseMirror u,
.rich-text-display-container u {
  @apply underline;
}

.ProseMirror s,
.rich-text-display-container s {
  @apply line-through;
}

.ProseMirror .f1-bullet-list,
.rich-text-display-container .f1-bullet-list {
  @apply list-disc;
}

.ProseMirror .f1-ordered-list,
.rich-text-display-container .f1-ordered-list {
  @apply list-decimal;
}

.ProseMirror ul,
.ProseMirror ol,
.rich-text-display-container ul,
.rich-text-display-container ol {
  @apply ml-5;
}

.ProseMirror li,
.rich-text-display-container li {
  @apply mb-2;
}

.ProseMirror pre,
.rich-text-display-container pre {
  @apply relative mx-0 overflow-x-auto whitespace-pre-wrap rounded-md bg-f1-background-secondary p-2;
}

.ProseMirror code,
.rich-text-display-container code {
  @apply text-sm;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.ProseMirror blockquote,
.rich-text-display-container blockquote {
  @apply m-0 mb-2.5 border-0 border-l-4 border-solid border-f1-border pl-4;
}

.ProseMirror:focus,
.rich-text-display-container:focus {
  @apply outline-none;
}

.ProseMirror hr,
.rich-text-display-container hr {
  @apply my-3 border-0 border-t border-f1-border;
}

.ProseMirror mark,
.rich-text-display-container mark {
  @apply rounded-xs bg-f1-background-promote p-0.5 text-f1-foreground;
}

.ProseMirror p:empty::before,
.rich-text-display-container p:empty::before {
  content: "\00a0";
}

.ProseMirror p.is-editor-empty:first-child::before,
.rich-text-display-container p.is-editor-empty:first-child::before {
  @apply pointer-events-none float-left h-0 text-f1-foreground-tertiary;
  content: attr(data-placeholder);
}

.ProseMirror ul[data-type="taskList"],
.rich-text-display-container ul[data-type="taskList"] {
  @apply ml-0;
}

.shadow-editor-tools {
  box-shadow: 0px -4px 20px 0px #0d162514;
}

.scrollbar-macos {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-macos::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-macos::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Custom checkbox styling for HTML export */
.custom-checkbox {
  @apply h-5 w-5 shrink-0 rounded-xs border border-solid border-f1-border text-f1-foreground-selected;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox-checked {
  @apply bg-f1-background-selected-bold text-f1-foreground-inverse;
}

.f1-task-item {
  @apply list-none;
}

/*
Placeholder component
*/
.tiptap p.is-empty::before {
  @apply pointer-events-none float-left h-0 text-f1-foreground-tertiary;
  content: attr(data-placeholder);
}

/* 
TODO:
this is a hack to make the checkbox look like the one in the Checkbox component
 */
.custom-checkbox-checked::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 16.75L17.75 7.25004' stroke='white' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.25 11.75L10.75 16.75' stroke='white' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
